.menu {
  background-image: linear-gradient(to right, #ff5f6d 0%, #ffb270 100%);
  background-repeat: repeat;
  box-shadow: 0 0 20px -10px #000;
  transition: all 0.5s ease 0s;

  position: absolute;
  top: 43px;
  left: 0;
  right: 0;
  z-index: 10;
  overflow-y: hidden;

  &__content {
    display: flex;
    justify-content: center;
    padding: 18px 0;
    text-align: center;
  }

  &__top-action {
    margin-bottom: 44px;
  }

  &__nav {
    height: auto;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__link {
    color: #fff;
    display: block;
    padding: 10px 0;
    text-transform: capitalize;
  }

  &__action {
    display: inline-block;
    position: relative;
    height: 30px;
    line-height: 20px;
    text-transform: uppercase;

    @include font(13px, 20px, 700);
  }
}
